.services {
  align-items: center;
  background-color: #f3f3f3;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;

  &__button {
    align-items: flex-end;
    display: flex;
    height: 100%;
  }
}
