@import '../../styles/variables';
@import '../../styles/mixins';

.services {
  align-items: center;
  background-color: #f3f3f3;
  flex-direction: column;
  justify-content: flex-start;

  &__button {
    margin-top: 8rem;

    @include breakpoint('md') {
      margin-top: 4rem;
    }

    @include breakpoint('sm') {
      margin-top: 1rem;
    }
  }
}
