@import '../../styles/variables';
@import '../../styles/mixins';

section.hero {
  align-items: center;
  background-color: $primary-bg;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 4rem 25%;

  @include breakpoint('lg') {
    padding: 4rem 15%;
  }

  @include breakpoint('sm') {
    padding: 4rem 10%;
  }

  .title {
    font-size: 60px;

    @include breakpoint('xs') {
      font-size: 44px;
    }
  }
}
