@import 'variables.scss';
@import 'mixins.scss';

// Core
p {
  font-size: 22px;

  @include breakpoint('lg') {
    font-size: 20px;
  }

  @include breakpoint('md') {
    font-size: 18px;
  }
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;
}

// Section
.section {
  display: flex;
  min-height: 100vh;
  padding: 4rem 10%;
}
