@import 'variables.scss';
@import 'mixins.scss';

// Core
p {
  font-size: 22px;

  @include breakpoint('lg') {
    font-size: 20px;
  }

  @include breakpoint('md') {
    font-size: 18px;
  }
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;
}

// Section
.section {
  display: flex;
  padding: 4rem 10%;
}

// Text
.text-center {
  text-align: center;
}

// Others
.w-100 {
  width: 100% !important;
}
