@import '../../styles/variables';
@import '../../styles/mixins';

.card {
  background: $primary-bg;
  border: 1px solid $black;
  color: $text-primary;
  flex: 1;
  margin: 0.5rem;
  max-width: 30%;
  padding: 0.5rem 1rem;

  @include breakpoint('sm') {
    flex: unset;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }
}
