@import '../../styles/variables';
@import '../../styles/mixins';

.copyright {
  align-items: center;
  background: $black;
  color: white;
  display: flex;
  font-size: 12px;
  height: 50px;
  justify-content: center;

  @include breakpoint('sm') {
    padding: 5px;
  }
}

.trademark {
  font-size: 12px;
  background: $gray;
  padding: 5px 1rem;
}
